kamidana
========================================

.. image:: https://travis-ci.org/podhmo/kamidana.svg?branch=master
    :target: https://travis-ci.org/podhmo/kamidana

example
----------------------------------------


.. code-block:: console

{% with cmd="kamidana ../examples/readme/src/nginx.jinja2 --data ../examples/readme/data.json" %}
  $ {{cmd}}
  {{cmd|read_from_command|indent(2)}}
{% endwith %}

{% with name="src/nginx.jinja2" %}
{{name}}

.. code-block:: jinja2

  {{"../examples/readme/%s"|format(name)|read_from_file|indent(2)}}
{% endwith %}

{% with name="data.json" %}
{{name}}

.. code-block:: json

  {{"../examples/readme/%s"|format(name)|read_from_file|indent(2)}}
{% endwith %}


example2 (--additionals)
----------------------------------------

.. code-block:: console

{% with cmd="kamidana --additionals=../examples/readme2/additionals.py --data=../examples/readme2/data.yaml ../examples/readme2/src/hello.jinja2" %}
  $ {{cmd}}
  {{cmd|read_from_command|indent(2)}}
{% endwith %}

{% with name="src/hello.jinja2" %}
{{name}}

.. code-block:: jinja2

  {{"../examples/readme2/%s"|format(name)|read_from_file|indent(2)}}
{% endwith %}

{% with name="additionals.py" %}
{{name}}

.. code-block:: python

  {{"../examples/readme2/%s"|format(name)|read_from_file|indent(2)}}
{% endwith %}

{% with name="data.yaml" %}
{{name}}

.. code-block:: yaml

  {{"../examples/readme2/%s"|format(name)|read_from_file|indent(2)}}
{% endwith %}
