kamidana
========================================

.. image:: https://travis-ci.org/podhmo/kamidana.svg?branch=master
    :target: https://travis-ci.org/podhmo/kamidana

kamidana is yet another jinja2's cli wrapper.

features

- using jinja2 file as template file (basic feature)
- various input formats support (json, yaml, toml, ...)
- the way of lookup template is changed, relative to parent template path
- gentle error message
- batch execution for speed-up (via `kamidana-batch`)
- rendering with individual filters (via `--additionals` option)
- (useful additionals modules (e.g. `kamidana.additionals.naming` ...)

usage
----------------------------------------

.. code-block:: console

  {{"kamidana -h"|read_from_command|indent(2)}}

examples
----------------------------------------

example (basic)
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

.. code-block:: console

{% with cmd="kamidana examples/readme/src/00/nginx.jinja2 --data examples/readme/src/00/data.json" %}
  $ {{cmd}}
  {{cmd|read_from_command(relative_self=False)|indent(2)}}
{% endwith %}

{% with name="examples/readme/src/00/nginx.jinja2" %}
{{name}}

.. code-block::

  {{name|read_from_file(relative_self=False)|indent(2)}}
{% endwith %}

{% with name="examples/readme/src/00/data.json" %}
{{name}}

.. code-block:: json

  {{name|read_from_file(relative_self=False)|indent(2)}}
{% endwith %}

More over, passing data with stdin. (please doen't forget to add `--input-format` option)

.. code-block:: console

{% with cmd="echo '{\"nginx\": {\"logdir\": \"/tmp/logs/nginx\"}}' | kamidana --input-format json examples/readme/src/00/nginx.jinja2 --data examples/readme/src/00/data.json" %}
  $ {{cmd}}
  {{cmd|read_from_command(relative_self=False)|indent(2)}}
{% endwith %}

gentle error message
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

if using include, but the included template is not found.

.. code-block:: console

{% with cmd="tree examples/readme/src/11" %}
  $ {{cmd}}
  {{cmd|read_from_command(relative_self=False)|indent(2)}}
{% endwith %}

.. code-block:: console

{% with cmd="kamidana examples/readme/src/11/main.html.j2" %}
  $ {{cmd}}
  {{cmd|read_from_command(relative_self=False, check=False)|indent(2)}}
{% endwith %}

example2 (--additionals)
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

builtin addtional modules
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.. code-block:: console

{% with cmd="kamidana --additionals=kamidana.additionals.naming examples/readme/src/01/use-naming.jinja2" %}
  $ {{cmd}}
  {{cmd|read_from_command(relative_self=False)|indent(2)}}
{% endwith %}


{% with name="examples/readme/src/01/use-naming.jinja2" %}
{{name}}

.. code-block::

  {{name|read_from_file(relative_self=False)|indent(2)}}
{% endwith %}

or `kamidana -a naming` is also OK (shortcut).

individual additional modules
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.. code-block:: console

{% with cmd="kamidana --additionals=examples/readme/src/01/additionals.py --data=examples/readme/src/01/data.yaml examples/readme/src/01/hello.jinja2" %}
  $ {{cmd}}
  {{cmd|read_from_command(relative_self=False)|indent(2)}}
{% endwith %}

{% with name="examples/readme/src/01/hello.jinja2" %}
{{name}}

.. code-block::

  {{name|read_from_file(relative_self=False)|indent(2)}}
{% endwith %}


{% with name="examples/readme/src/01/additionals.py" %}
{{name}}

.. code-block:: python

  {{name|read_from_file(relative_self=False)|indent(2)}}
{% endwith %}

{% with name="examples/readme/src/01/data.yaml" %}
{{name}}

.. code-block:: yaml

  {{name|read_from_file(relative_self=False)|indent(2)}}
{% endwith %}

example3 (using jinja2 extensions)
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

.. code-block:: console

{% with cmd="kamidana -e with_ -e do -e loopcontrols examples/readme/src/02/use-extension.jinja2"%}
  $ {{cmd}}
  {{cmd|read_from_command(relative_self=False)|indent(2)}}
{% endwith %}

{% with name="examples/readme/src/02/use-extension.jinja2" %}
{{name}}

.. code-block::

  {{name|read_from_file(relative_self=False)|indent(2)}}
{% endwith %}

example4 (batch execution)
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

TODO. `see this <./examples/batch>`_


debugging
----------------------------------------

- `--dump-context`
- `--debug`

dump context
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

.. code-block:: console

{% with cmd="kamidana --dump-context --data=examples/readme/src/10/data.yaml"%}
  $ {{cmd}}
  {{cmd|read_from_command(relative_self=False)|indent(2)}}
{% endwith %}

and be able to merge two files.

.. code-block:: console

{% with cmd="kamidana --dump-context --data=examples/readme/src/10/data.yaml --data=examples/readme/src/10/data2.yaml" %}
  $ {{cmd}}
  {{cmd|read_from_command(relative_self=False)|indent(2)}}
{% endwith %}

then

{% with name="examples/readme/src/10/data.yaml" %}
{{name}}

.. code-block:: yaml

  {{name|read_from_file(relative_self=False)|indent(2)}}
{% endwith %}

{% with name="examples/readme/src/10/data2.yaml" %}
{{name}}

.. code-block:: yaml

  {{name|read_from_file(relative_self=False)|indent(2)}}
{% endwith %}

available info (extensions and additional modules)
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

.. code-block::

  {{"kamidana --list-info"|read_from_command|indent(2)|strip_ansi_escape_sequence}}
