camelCase,snakecase,kebabcase

- fooBarBoo -> {{"fooBarBoo"}}
- fooBarBoo|snakecase -> {{"fooBarBoo"|snakecase}}
- fooBarBoo|kebabcase -> {{"fooBarBoo"|kebabcase}}

- csv_reader|camelcase -> {{"csv_reader"|camelcase}}

singular, plurals

- days|singularize -> {{"days"|singularize}}
- day|pluralize -> {{"day"|pluralize}}

- categories|singularize -> {{"categories"|singularize}}
- category|pluralize -> {{"category"|pluralize}}

